body {
  margin: 0;
}

#map {
  height: calc(100vh - 50px);
  width: 100%;
}

#map.search, #map.search * {
  cursor: crosshair !important;
}

button {
  color: inherit;
  background: rgba(0, 0, 0, 0);
  border: none;
  height: 100%;
  margin: 0 10px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background 1s ease;
}

button:hover {
  background: rgba(200, 200, 200, 0.3);
  transition: background 1s ease;
}

button:focus {
  outline: none;
}

button.active {
  background: #3f51b5;
}

#nav-bar {
  width: 100%;
  height: 50px;
  background: #3f51b5;
}

#side-bar {
  background-color: white;
  position: absolute;
  width: 500px;
  min-width: 500px;
  box-shadow: 1px 0px 11px 0px #888888;
  z-index: 700;
}

#controllers {
  background: #3f51b5;
  height: 50px;
}

#results > div {
  padding: 10px;
  height: 20px;
  border: 1px solid black;
  margin-bottom: 8px;
}

#player {
  height: 337px;
  width: 600px;
  position: fixed;
  right: 0;
  background: black;
  z-index: 500;
}

#player.inactive {
  display: none;
}
